{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://devicefarm.amazonaws.com/"
        },
        {
            "url": "http://devicefarm.amazonaws.com/"
        }
    ],
    "x-hasEquivalentPaths": true,
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "AWS Device Farm is a service that enables mobile app developers to test Android, iOS, and Fire OS apps on physical phones, tablets, and other devices in the cloud.",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "AWS Device Farm",
        "version": "2015-06-23",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/devicefarm-2015-06-23.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "devicefarm"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://aws.amazon.com/devicefarm/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates a device pool.",
                "operationId": "CreateDevicePool",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Represents the result of a create device pool request.",
                                    "example": {
                                        "devicePool": {}
                                    },
                                    "properties": {
                                        "devicePool": {
                                            "description": "The newly created device pool.",
                                            "properties": {
                                                "arn": {
                                                    "description": "The device pool's ARN.",
                                                    "minLength": 32,
                                                    "type": "string"
                                                },
                                                "description": {
                                                    "description": "The device pool's description.",
                                                    "maxLength": 16384,
                                                    "minLength": 0,
                                                    "type": "string"
                                                },
                                                "maxDevices": {
                                                    "description": "<p>The number of devices that Device Farm can add to your device pool. Device Farm adds devices that are available and that meet the criteria that you assign for the <code>rules</code> parameter. Depending on how many devices meet these constraints, your device pool might contain fewer devices than the value for this parameter.</p> <p>By specifying the maximum number of devices, you can control the costs that you incur by running tests.</p>",
                                                    "type": "integer"
                                                },
                                                "name": {
                                                    "description": "The device pool's name.",
                                                    "maxLength": 256,
                                                    "minLength": 0,
                                                    "type": "string"
                                                },
                                                "rules": {
                                                    "description": "Information about the device pool's rules.",
                                                    "items": {
                                                        "description": "Represents a condition for a device pool.",
                                                        "properties": {
                                                            "attribute": {
                                                                "description": "<p>The rule's stringified attribute. For example, specify the value as <code>\"\\\"abc\\\"\"</code>.</p> <p>The supported operators for each attribute are provided in the following list.</p> <dl> <dt>APPIUM_VERSION</dt> <dd> <p>The Appium version for the test.</p> <p> <i>Supported operators</i>: <code>CONTAINS</code> </p> </dd> <dt>ARN</dt> <dd> <p>The Amazon Resource Name (ARN) of the device. For example, \"arn:aws:devicefarm:us-west-2::device:12345Example\".</p> <p> <i>Supported operators</i>: <code>EQUALS</code>, <code>IN</code>, <code>NOT_IN</code> </p> </dd> <dt>AVAILABILITY</dt> <dd> <p>The current availability of the device. Valid values are \"AVAILABLE\", \"HIGHLY_AVAILABLE\", \"BUSY\", or \"TEMPORARY_NOT_AVAILABLE\".</p> <p> <i>Supported operators</i>: <code>EQUALS</code> </p> </dd> <dt>FLEET_TYPE</dt> <dd> <p>The fleet type. Valid values are \"PUBLIC\" or \"PRIVATE\".</p> <p> <i>Supported operators</i>: <code>EQUALS</code> </p> </dd> <dt>FORM_FACTOR</dt> <dd> <p>The device form factor. Valid values are \"PHONE\" or \"TABLET\".</p> <p> <i>Supported operators</i>: <code>EQUALS</code>, <code>IN</code>, <code>NOT_IN</code> </p> </dd> <dt>INSTANCE_ARN</dt> <dd> <p>The Amazon Resource Name (ARN) of the device instance.</p> <p> <i>Supported operators</i>: <code>IN</code>, <code>NOT_IN</code> </p> </dd> <dt>INSTANCE_LABELS</dt> <dd> <p>The label of the device instance.</p> <p> <i>Supported operators</i>: <code>CONTAINS</code> </p> </dd> <dt>MANUFACTURER</dt> <dd> <p>The device manufacturer. For example, \"Apple\".</p> <p> <i>Supported operators</i>: <code>EQUALS</code>, <code>IN</code>, <code>NOT_IN</code> </p> </dd> <dt>MODEL</dt> <dd> <p>The device model, such as \"Apple iPad Air 2\" or \"Google Pixel\".</p> <p> <i>Supported operators</i>: <code>CONTAINS</code>, <code>EQUALS</code>, <code>IN</code>, <code>NOT_IN</code> </p> </dd> <dt>OS_VERSION</dt> <dd> <p>The operating system version. For example, \"10.3.2\".</p> <p> <i>Supported operators</i>: <code>EQUALS</code>, <code>GREATER_THAN</code>, <code>GREATER_THAN_OR_EQUALS</code>, <code>IN</code>, <code>LESS_THAN</code>, <code>LESS_THAN_OR_EQUALS</code>, <code>NOT_IN</code> </p> </dd> <dt>PLATFORM</dt> <dd> <p>The device platform. Valid values are \"ANDROID\" or \"IOS\".</p> <p> <i>Supported operators</i>: <code>EQUALS</code>, <code>IN</code>, <code>NOT_IN</code> </p> </dd> <dt>REMOTE_ACCESS_ENABLED</dt> <dd> <p>Whether the device is enabled for remote access. Valid values are \"TRUE\" or \"FALSE\".</p> <p> <i>Supported operators</i>: <code>EQUALS</code> </p> </dd> <dt>REMOTE_DEBUG_ENABLED</dt> <dd> <p>Whether the device is enabled for remote debugging. Valid values are \"TRUE\" or \"FALSE\".</p> <p> <i>Supported operators</i>: <code>EQUALS</code> </p> </dd> </dl>",
                                                                "enum": [
                                                                    "ARN",
                                                                    "PLATFORM",
                                                                    "FORM_FACTOR",
                                                                    "MANUFACTURER",
                                                                    "REMOTE_ACCESS_ENABLED",
                                                                    "REMOTE_DEBUG_ENABLED",
                                                                    "APPIUM_VERSION",
                                                                    "INSTANCE_ARN",
                                                                    "INSTANCE_LABELS",
                                                                    "FLEET_TYPE",
                                                                    "OS_VERSION",
                                                                    "MODEL",
                                                                    "AVAILABILITY"
                                                                ],
                                                                "type": "string"
                                                            },
                                                            "operator": {
                                                                "description": "Specifies how Device Farm compares the rule's attribute to the value. For the operators that are supported by each attribute, see the attribute descriptions.",
                                                                "enum": [
                                                                    "EQUALS",
                                                                    "LESS_THAN",
                                                                    "LESS_THAN_OR_EQUALS",
                                                                    "GREATER_THAN",
                                                                    "GREATER_THAN_OR_EQUALS",
                                                                    "IN",
                                                                    "NOT_IN",
                                                                    "CONTAINS"
                                                                ],
                                                                "type": "string"
                                                            },
                                                            "value": {
                                                                "description": "The rule's value.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "type": {
                                                    "description": "<p>The device pool's type.</p> <p>Allowed values include:</p> <ul> <li> <p>CURATED: A device pool that is created and managed by AWS Device Farm.</p> </li> <li> <p>PRIVATE: A device pool that is created and managed by the device pool developer.</p> </li> </ul>",
                                                    "enum": [
                                                        "CURATED",
                                                        "PRIVATE"
                                                    ],
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ArgumentException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "NotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "LimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ServiceAccountException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Represents a request to the create device pool operation.",
                                "example": {
                                    "description": "My Android devices",
                                    "name": "MyDevicePool",
                                    "projectArn": "arn:aws:devicefarm:us-west-2:123456789101:project:EXAMPLE-GUID-123-456",
                                    "rules": []
                                },
                                "properties": {
                                    "description": {
                                        "description": "The device pool's description.",
                                        "maxLength": 16384,
                                        "minLength": 0,
                                        "type": "string"
                                    },
                                    "maxDevices": {
                                        "description": "<p>The number of devices that Device Farm can add to your device pool. Device Farm adds devices that are available and that meet the criteria that you assign for the <code>rules</code> parameter. Depending on how many devices meet these constraints, your device pool might contain fewer devices than the value for this parameter.</p> <p>By specifying the maximum number of devices, you can control the costs that you incur by running tests.</p>",
                                        "type": "integer"
                                    },
                                    "name": {
                                        "description": "The device pool's name.",
                                        "maxLength": 256,
                                        "minLength": 0,
                                        "type": "string"
                                    },
                                    "projectArn": {
                                        "description": "The ARN of the project for the device pool.",
                                        "minLength": 32,
                                        "type": "string"
                                    },
                                    "rules": {
                                        "description": "The device pool's rules.",
                                        "items": {
                                            "description": "Represents a condition for a device pool.",
                                            "properties": {
                                                "attribute": {
                                                    "description": "<p>The rule's stringified attribute. For example, specify the value as <code>\"\\\"abc\\\"\"</code>.</p> <p>The supported operators for each attribute are provided in the following list.</p> <dl> <dt>APPIUM_VERSION</dt> <dd> <p>The Appium version for the test.</p> <p> <i>Supported operators</i>: <code>CONTAINS</code> </p> </dd> <dt>ARN</dt> <dd> <p>The Amazon Resource Name (ARN) of the device. For example, \"arn:aws:devicefarm:us-west-2::device:12345Example\".</p> <p> <i>Supported operators</i>: <code>EQUALS</code>, <code>IN</code>, <code>NOT_IN</code> </p> </dd> <dt>AVAILABILITY</dt> <dd> <p>The current availability of the device. Valid values are \"AVAILABLE\", \"HIGHLY_AVAILABLE\", \"BUSY\", or \"TEMPORARY_NOT_AVAILABLE\".</p> <p> <i>Supported operators</i>: <code>EQUALS</code> </p> </dd> <dt>FLEET_TYPE</dt> <dd> <p>The fleet type. Valid values are \"PUBLIC\" or \"PRIVATE\".</p> <p> <i>Supported operators</i>: <code>EQUALS</code> </p> </dd> <dt>FORM_FACTOR</dt> <dd> <p>The device form factor. Valid values are \"PHONE\" or \"TABLET\".</p> <p> <i>Supported operators</i>: <code>EQUALS</code>, <code>IN</code>, <code>NOT_IN</code> </p> </dd> <dt>INSTANCE_ARN</dt> <dd> <p>The Amazon Resource Name (ARN) of the device instance.</p> <p> <i>Supported operators</i>: <code>IN</code>, <code>NOT_IN</code> </p> </dd> <dt>INSTANCE_LABELS</dt> <dd> <p>The label of the device instance.</p> <p> <i>Supported operators</i>: <code>CONTAINS</code> </p> </dd> <dt>MANUFACTURER</dt> <dd> <p>The device manufacturer. For example, \"Apple\".</p> <p> <i>Supported operators</i>: <code>EQUALS</code>, <code>IN</code>, <code>NOT_IN</code> </p> </dd> <dt>MODEL</dt> <dd> <p>The device model, such as \"Apple iPad Air 2\" or \"Google Pixel\".</p> <p> <i>Supported operators</i>: <code>CONTAINS</code>, <code>EQUALS</code>, <code>IN</code>, <code>NOT_IN</code> </p> </dd> <dt>OS_VERSION</dt> <dd> <p>The operating system version. For example, \"10.3.2\".</p> <p> <i>Supported operators</i>: <code>EQUALS</code>, <code>GREATER_THAN</code>, <code>GREATER_THAN_OR_EQUALS</code>, <code>IN</code>, <code>LESS_THAN</code>, <code>LESS_THAN_OR_EQUALS</code>, <code>NOT_IN</code> </p> </dd> <dt>PLATFORM</dt> <dd> <p>The device platform. Valid values are \"ANDROID\" or \"IOS\".</p> <p> <i>Supported operators</i>: <code>EQUALS</code>, <code>IN</code>, <code>NOT_IN</code> </p> </dd> <dt>REMOTE_ACCESS_ENABLED</dt> <dd> <p>Whether the device is enabled for remote access. Valid values are \"TRUE\" or \"FALSE\".</p> <p> <i>Supported operators</i>: <code>EQUALS</code> </p> </dd> <dt>REMOTE_DEBUG_ENABLED</dt> <dd> <p>Whether the device is enabled for remote debugging. Valid values are \"TRUE\" or \"FALSE\".</p> <p> <i>Supported operators</i>: <code>EQUALS</code> </p> </dd> </dl>",
                                                    "enum": [
                                                        "ARN",
                                                        "PLATFORM",
                                                        "FORM_FACTOR",
                                                        "MANUFACTURER",
                                                        "REMOTE_ACCESS_ENABLED",
                                                        "REMOTE_DEBUG_ENABLED",
                                                        "APPIUM_VERSION",
                                                        "INSTANCE_ARN",
                                                        "INSTANCE_LABELS",
                                                        "FLEET_TYPE",
                                                        "OS_VERSION",
                                                        "MODEL",
                                                        "AVAILABILITY"
                                                    ],
                                                    "type": "string"
                                                },
                                                "operator": {
                                                    "description": "Specifies how Device Farm compares the rule's attribute to the value. For the operators that are supported by each attribute, see the attribute descriptions.",
                                                    "enum": [
                                                        "EQUALS",
                                                        "LESS_THAN",
                                                        "LESS_THAN_OR_EQUALS",
                                                        "GREATER_THAN",
                                                        "GREATER_THAN_OR_EQUALS",
                                                        "IN",
                                                        "NOT_IN",
                                                        "CONTAINS"
                                                    ],
                                                    "type": "string"
                                                },
                                                "value": {
                                                    "description": "The rule's value.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "projectArn",
                                    "name",
                                    "rules"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreateInstanceProfile": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates a profile that can be applied to one or more private fleet device instances.",
                "operationId": "CreateInstanceProfile",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "instanceProfile": {
                                            "description": "An object containing information about your instance profile.",
                                            "properties": {
                                                "arn": {
                                                    "description": "The Amazon Resource Name (ARN) of the instance profile.",
                                                    "minLength": 32,
                                                    "type": "string"
                                                },
                                                "description": {
                                                    "description": "The description of the instance profile.",
                                                    "maxLength": 16384,
                                                    "minLength": 0,
                                                    "type": "string"
                                                },
                                                "excludeAppPackagesFromCleanup": {
                                                    "description": "<p>An array of strings specifying the list of app packages that should not be cleaned up from the device after a test run is over.</p> <p>The list of packages is only considered if you set <code>packageCleanup</code> to <code>true</code>.</p>",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                },
                                                "name": {
                                                    "description": "The name of the instance profile.",
                                                    "maxLength": 256,
                                                    "minLength": 0,
                                                    "type": "string"
                                                },
                                                "packageCleanup": {
                                                    "description": "When set to <code>true</code>, Device Farm will remove app packages after a test run. The default value is <code>false</code> for private devices.",
                                                    "type": "boolean"
                                                },
                                                "rebootAfterUse": {
                                                    "description": "When set to <code>true</code>, Device Farm will reboot the instance after a test run. The default value is <code>true</code>.",
                                                    "type": "boolean"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ArgumentException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "NotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "LimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ServiceAccountException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "description": {
                                        "description": "The description of your instance profile.",
                                        "maxLength": 16384,
                                        "minLength": 0,
                                        "type": "string"
                                    },
                                    "excludeAppPackagesFromCleanup": {
                                        "description": "<p>An array of strings specifying the list of app packages that should not be cleaned up from the device after a test run is over.</p> <p>The list of packages is only considered if you set <code>packageCleanup</code> to <code>true</code>.</p>",
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "name": {
                                        "description": "The name of your instance profile.",
                                        "maxLength": 256,
                                        "minLength": 0,
                                        "type": "string"
                                    },
                                    "packageCleanup": {
                                        "description": "When set to <code>true</code>, Device Farm will remove app packages after a test run. The default value is <code>false</code> for private devices.",
                                        "type": "boolean"
                                    },
                                    "rebootAfterUse": {
                                        "description": "When set to <code>true</code>, Device Farm will reboot the instance after a test run. The default value is <code>true</code>.",
                                        "type": "boolean"
                                    }
                                },
                                "required": [
                                    "name"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreateNetworkProfile": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates a network profile.",
                "operationId": "CreateNetworkProfile",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "networkProfile": {
                                            "description": "The network profile that is returned by the create network profile request.",
                                            "properties": {
                                                "arn": {
                                                    "description": "The Amazon Resource Name (ARN) of the network profile.",
                                                    "minLength": 32,
                                                    "type": "string"
                                                },
                                                "description": {
                                                    "description": "The description of the network profile.",
                                                    "maxLength": 16384,
                                                    "minLength": 0,
                                                    "type": "string"
                                                },
                                                "downlinkBandwidthBits": {
                                                    "description": "The data throughput rate in bits per second, as an integer from 0 to 104857600.",
                                                    "type": "integer"
                                                },
                                                "downlinkDelayMs": {
                                                    "description": "Delay time for all packets to destination in milliseconds as an integer from 0 to 2000.",
                                                    "type": "integer"
                                                },
                                                "downlinkJitterMs": {
                                                    "description": "Time variation in the delay of received packets in milliseconds as an integer from 0 to 2000.",
                                                    "type": "integer"
                                                },
                                                "downlinkLossPercent": {
                                                    "description": "Proportion of received packets that fail to arrive from 0 to 100 percent.",
                                                    "maximum": 100,
                                                    "minimum": 0,
                                                    "type": "integer"
                                                },
                                                "name": {
                                                    "description": "The name of the network profile.",
                                                    "maxLength": 256,
                                                    "minLength": 0,
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "description": "The type of network profile. Valid values are listed below.",
                                                    "enum": [
                                                        "CURATED",
                                                        "PRIVATE"
                                                    ],
                                                    "type": "string"
                                                },
                                                "uplinkBandwidthBits": {
                                                    "description": "The data throughput rate in bits per second, as an integer from 0 to 104857600.",
                                                    "type": "integer"
                                                },
                                                "uplinkDelayMs": {
                                                    "description": "Delay time for all packets to destination in milliseconds as an integer from 0 to 2000.",
                                                    "type": "integer"
                                                },
                                                "uplinkJitterMs": {
                                                    "description": "Time variation in the delay of received packets in milliseconds as an integer from 0 to 2000.",
                                                    "type": "integer"
                                                },
                                                "uplinkLossPercent": {
                                                    "description": "Proportion of transmitted packets that fail to arrive from 0 to 100 percent.",
                                                    "maximum": 100,
                                                    "minimum": 0,
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ArgumentException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "NotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "LimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ServiceAccountException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "description": {
                                        "description": "The description of the network profile.",
                                        "maxLength": 16384,
                                        "minLength": 0,
                                        "type": "string"
                                    },
                                    "downlinkBandwidthBits": {
                                        "description": "The data throughput rate in bits per second, as an integer from 0 to 104857600.",
                                        "type": "integer"
                                    },
                                    "downlinkDelayMs": {
                                        "description": "Delay time for all packets to destination in milliseconds as an integer from 0 to 2000.",
                                        "type": "integer"
                                    },
                                    "downlinkJitterMs": {
                                        "description": "Time variation in the delay of received packets in milliseconds as an integer from 0 to 2000.",
                                        "type": "integer"
                                    },
                                    "downlinkLossPercent": {
                                        "description": "Proportion of received packets that fail to arrive from 0 to 100 percent.",
                                        "maximum": 100,
                                        "minimum": 0,
                                        "type": "integer"
                                    },
                                    "name": {
                                        "description": "The name you wish to specify for the new network profile.",
                                        "maxLength": 256,
                                        "minLength": 0,
                                        "type": "string"
                                    },
                                    "projectArn": {
                                        "description": "The Amazon Resource Name (ARN) of the project for which you want to create a network profile.",
                                        "minLength": 32,
                                        "type": "string"
                                    },
                                    "type": {
                                        "description": "The type of network profile you wish to create. Valid values are listed below.",
                                        "enum": [
                                            "CURATED",
                                            "PRIVATE"
                                        ],
                                        "type": "string"
                                    },
                                    "uplinkBandwidthBits": {
                                        "description": "The data throughput rate in bits per second, as an integer from 0 to 104857600.",
                                        "type": "integer"
                                    },
                                    "uplinkDelayMs": {
                                        "description": "Delay time for all packets to destination in milliseconds as an integer from 0 to 2000.",
                                        "type": "integer"
                                    },
                                    "uplinkJitterMs": {
                                        "description": "Time variation in the delay of received packets in milliseconds as an integer from 0 to 2000.",
                                        "type": "integer"
                                    },
                                    "uplinkLossPercent": {
                                        "description": "Proportion of transmitted packets that fail to arrive from 0 to 100 percent.",
                                        "maximum": 100,
                                        "minimum": 0,
                                        "type": "integer"
                                    }
                                },
                                "required": [
                                    "projectArn",
                                    "name"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreateProject": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates a new project.",
                "operationId": "CreateProject",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Represents the result of a create project request.",
                                    "example": {
                                        "project": {
                                            "arn": "arn:aws:devicefarm:us-west-2:123456789101:project:5e01a8c7-c861-4c0a-b1d5-12345EXAMPLE",
                                            "created": "1472660939.152",
                                            "name": "MyProject"
                                        }
                                    },
                                    "properties": {
                                        "project": {
                                            "description": "The newly created project.",
                                            "properties": {
                                                "arn": {
                                                    "description": "The project's ARN.",
                                                    "minLength": 32,
                                                    "type": "string"
                                                },
                                                "created": {
                                                    "description": "When the project was created.",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "defaultJobTimeoutMinutes": {
                                                    "description": "The default number of minutes (at the project level) a test run will execute before it times out. Default value is 60 minutes.",
                                                    "type": "integer"
                                                },
                                                "name": {
                                                    "description": "The project's name.",
                                                    "maxLength": 256,
                                                    "minLength": 0,
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ArgumentException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "NotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "LimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ServiceAccountException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Represents a request to the create project operation.",
                                "example": {
                                    "name": "MyProject"
                                },
                                "properties": {
                                    "defaultJobTimeoutMinutes": {
                                        "description": "Sets the execution timeout value (in minutes) for a project. All test runs in this project will use the specified execution timeout value unless overridden when scheduling a run.",
                                        "type": "integer"
                                    },
                                    "name": {
                                        "description": "The project's name.",
                                        "maxLength": 256,
                                        "minLength": 0,
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "name"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreateRemoteAccessSession": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Specifies and starts a remote access session.",
                "operationId": "CreateRemoteAccessSession",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Represents the server response from a request to create a remote access session.",
                                    "example": {
                                        "remoteAccessSession": {}
                                    },
                                    "properties": {
                                        "remoteAccessSession": {
                                            "description": "A container that describes the remote access session when the request to create a remote access session is sent.",
                                            "properties": {
                                                "arn": {
                                                    "description": "The Amazon Resource Name (ARN) of the remote access session.",
                                                    "minLength": 32,
                                                    "type": "string"
                                                },
                                                "billingMethod": {
                                                    "description": "The billing method of the remote access session. Possible values include <code>METERED</code> or <code>UNMETERED</code>. For more information about metered devices, see <a href=\"https://docs.aws.amazon.com/devicefarm/latest/developerguide/welcome.html#welcome-terminology\">AWS Device Farm terminology</a>.\"",
                                                    "enum": [
                                                        "METERED",
                                                        "UNMETERED"
                                                    ],
                                                    "type": "string"
                                                },
                                                "clientId": {
                                                    "description": "Unique identifier of your client for the remote access session. Only returned if remote debugging is enabled for the remote access session.",
                                                    "maxLength": 64,
                                                    "minLength": 0,
                                                    "type": "string"
                                                },
                                                "created": {
                                                    "description": "The date and time the remote access session was created.",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "device": {
                                                    "description": "The device (phone or tablet) used in the remote access session.",
                                                    "properties": {
                                                        "arn": {
                                                            "description": "The device's ARN.",
                                                            "minLength": 32,
                                                            "type": "string"
                                                        },
                                                        "availability": {
                                                            "description": "Reflects how likely a device will be available for a test run. It is currently available in the ListDevices and GetDevice API methods.",
                                                            "enum": [
                                                                "TEMPORARY_NOT_AVAILABLE",
                                                                "BUSY",
                                                                "AVAILABLE",
                                                                "HIGHLY_AVAILABLE"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "carrier": {
                                                            "description": "The device's carrier.",
                                                            "type": "string"
                                                        },
                                                        "cpu": {
                                                            "description": "Information about the device's CPU.",
                                                            "properties": {
                                                                "architecture": {
                                                                    "description": "The CPU's architecture, for example x86 or ARM.",
                                                                    "type": "string"
                                                                },
                                                                "clock": {
                                                                    "description": "The clock speed of the device's CPU, expressed in hertz (Hz). For example, a 1.2 GHz CPU is expressed as 1200000000.",
                                                                    "format": "double",
                                                                    "type": "number"
                                                                },
                                                                "frequency": {
                                                                    "description": "The CPU's frequency.",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "fleetName": {
                                                            "description": "The name of the fleet to which this device belongs.",
                                                            "type": "string"
                                                        },
                                                        "fleetType": {
                                                            "description": "The type of fleet to which this device belongs. Possible values for fleet type are PRIVATE and PUBLIC.",
                                                            "type": "string"
                                                        },
                                                        "formFactor": {
                                                            "description": "<p>The device's form factor.</p> <p>Allowed values include:</p> <ul> <li> <p>PHONE: The phone form factor.</p> </li> <li> <p>TABLET: The tablet form factor.</p> </li> </ul>",
                                                            "enum": [
                                                                "PHONE",
                                                                "TABLET"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "heapSize": {
                                                            "description": "The device's heap size, expressed in bytes.",
                                                            "type": "integer"
                                                        },
                                                        "image": {
                                                            "description": "The device's image name.",
                                                            "type": "string"
                                                        },
                                                        "instances": {
                                                            "description": "The instances belonging to this device.",
                                                            "items": {
                                                                "description": "Represents the device instance.",
                                                                "properties": {
                                                                    "arn": {
                                                                        "description": "The Amazon Resource Name (ARN) of the device instance.",
                                                                        "minLength": 32,
                                                                        "type": "string"
                                                                    },
                                                                    "deviceArn": {
                                                                        "description": "The Amazon Resource Name (ARN) of the device.",
                                                                        "minLength": 32,
                                                                        "type": "string"
                                                                    },
                                                                    "instanceProfile": {
                                                                        "description": "A object containing information about the instance profile.",
                                                                        "properties": {
                                                                            "arn": {
                                                                                "description": "The Amazon Resource Name (ARN) of the instance profile.",
                                                                                "minLength": 32,
                                                                                "type": "string"
                                                                            },
                                                                            "description": {
                                                                                "description": "The description of the instance profile.",
                                                                                "maxLength": 16384,
                                                                                "minLength": 0,
                                                                                "type": "string"
                                                                            },
                                                                            "excludeAppPackagesFromCleanup": {
                                                                                "description": "<p>An array of strings specifying the list of app packages that should not be cleaned up from the device after a test run is over.</p> <p>The list of packages is only considered if you set <code>packageCleanup</code> to <code>true</code>.</p>",
                                                                                "items": {
                                                                                    "type": "string"
                                                                                },
                                                                                "type": "array"
                                                                            },
                                                                            "name": {
                                                                                "description": "The name of the instance profile.",
                                                                                "maxLength": 256,
                                                                                "minLength": 0,
                                                                                "type": "string"
                                                                            },
                                                                            "packageCleanup": {
                                                                                "description": "When set to <code>true</code>, Device Farm will remove app packages after a test run. The default value is <code>false</code> for private devices.",
                                                                                "type": "boolean"
                                                                            },
                                                                            "rebootAfterUse": {
                                                                                "description": "When set to <code>true</code>, Device Farm will reboot the instance after a test run. The default value is <code>true</code>.",
                                                                                "type": "boolean"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    "labels": {
                                                                        "description": "An array of strings describing the device instance.",
                                                                        "items": {
                                                                            "type": "string"
                                                                        },
                                                                        "type": "array"
                                                                    },
                                                                    "status": {
                                                                        "description": "The status of the device instance. Valid values are listed below.",
                                                                        "enum": [
                                                                            "IN_USE",
                                                                            "PREPARING",
                                                                            "AVAILABLE",
                                                                            "NOT_AVAILABLE"
                                                                        ],
                                                                        "type": "string"
                                                                    },
                                                                    "udid": {
                                                                        "description": "Unique device identifier for the device instance.",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "manufacturer": {
                                                            "description": "The device's manufacturer name.",
                                                            "type": "string"
                                                        },
                                                        "memory": {
                                                            "description": "The device's total memory size, expressed in bytes.",
                                                            "type": "integer"
                                                        },
                                                        "model": {
                                                            "description": "The device's model name.",
                                                            "type": "string"
                                                        },
                                                        "modelId": {
                                                            "description": "The device's model ID.",
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "description": "The device's display name.",
                                                            "maxLength": 256,
                                                            "minLength": 0,
                                                            "type": "string"
                                                        },
                                                        "os": {
                                                            "description": "The device's operating system type.",
                                                            "type": "string"
                                                        },
                                                        "platform": {
                                                            "description": "<p>The device's platform.</p> <p>Allowed values include:</p> <ul> <li> <p>ANDROID: The Android platform.</p> </li> <li> <p>IOS: The iOS platform.</p> </li> </ul>",
                                                            "enum": [
                                                                "ANDROID",
                                                                "IOS"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "radio": {
                                                            "description": "The device's radio.",
                                                            "type": "string"
                                                        },
                                                        "remoteAccessEnabled": {
                                                            "description": "Specifies whether remote access has been enabled for the specified device.",
                                                            "type": "boolean"
                                                        },
                                                        "remoteDebugEnabled": {
                                                            "description": "This flag is set to <code>true</code> if remote debugging is enabled for the device.",
                                                            "type": "boolean"
                                                        },
                                                        "resolution": {
                                                            "description": "The resolution of the device.",
                                                            "properties": {
                                                                "height": {
                                                                    "description": "The screen resolution's height, expressed in pixels.",
                                                                    "type": "integer"
                                                                },
                                                                "width": {
                                                                    "description": "The screen resolution's width, expressed in pixels.",
                                                                    "type": "integer"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "deviceMinutes": {
                                                    "description": "The number of minutes a device is used in a remote access sesssion (including setup and teardown minutes).",
                                                    "properties": {
                                                        "metered": {
                                                            "description": "When specified, represents only the sum of metered minutes used by the resource to run tests.",
                                                            "format": "double",
                                                            "type": "number"
                                                        },
                                                        "total": {
                                                            "description": "When specified, represents the total minutes used by the resource to run tests.",
                                                            "format": "double",
                                                            "type": "number"
                                                        },
                                                        "unmetered": {
                                                            "description": "When specified, represents only the sum of unmetered minutes used by the resource to run tests.",
                                                            "format": "double",
                                                            "type": "number"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "deviceUdid": {
                                                    "description": "Unique device identifier for the remote device. Only returned if remote debugging is enabled for the remote access session.",
                                                    "type": "string"
                                                },
                                                "endpoint": {
                                                    "description": "The endpoint for the remote access sesssion.",
                                                    "type": "string"
                                                },
                                                "hostAddress": {
                                                    "description": "IP address of the EC2 host where you need to connect to remotely debug devices. Only returned if remote debugging is enabled for the remote access session.",
                                                    "maxLength": 1024,
                                                    "type": "string"
                                                },
                                                "instanceArn": {
                                                    "description": "The Amazon Resource Name (ARN) of the instance.",
                                                    "minLength": 32,
                                                    "type": "string"
                                                },
                                                "interactionMode": {
                                                    "description": "<p>The interaction mode of the remote access session. Valid values are:</p> <ul> <li> <p>INTERACTIVE: You can interact with the iOS device by viewing, touching, and rotating the screen. You <b>cannot</b> run XCUITest framework-based tests in this mode.</p> </li> <li> <p>NO_VIDEO: You are connected to the device but cannot interact with it or view the screen. This mode has the fastest test execution speed. You <b>can</b> run XCUITest framework-based tests in this mode.</p> </li> <li> <p>VIDEO_ONLY: You can view the screen but cannot touch or rotate it. You <b>can</b> run XCUITest framework-based tests and watch the screen in this mode.</p> </li> </ul>",
                                                    "enum": [
                                                        "INTERACTIVE",
                                                        "NO_VIDEO",
                                                        "VIDEO_ONLY"
                                                    ],
                                                    "maxLength": 64,
                                                    "minLength": 0,
                                                    "type": "string"
                                                },
                                                "message": {
                                                    "description": "A message about the remote access session.",
                                                    "maxLength": 16384,
                                                    "minLength": 0,
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "description": "The name of the remote access session.",
                                                    "maxLength": 256,
                                                    "minLength": 0,
                                                    "type": "string"
                                                },
                                                "remoteDebugEnabled": {
                                                    "description": "This flag is set to <code>true</code> if remote debugging is enabled for the remote access session.",
                                                    "type": "boolean"
                                                },
                                                "remoteRecordAppArn": {
                                                    "description": "The Amazon Resource Name (ARN) for the app to be recorded in the remote access session.",
                                                    "minLength": 32,
                                                    "type": "string"
                                                },
                                                "remoteRecordEnabled": {
                                                    "description": "This flag is set to <code>true</code> if remote recording is enabled for the remote access session.",
                                                    "type": "boolean"
                                                },
                                                "result": {
                                                    "description": "<p>The result of the remote access session. Can be any of the following:</p> <ul> <li> <p>PENDING: A pending condition.</p> </li> <li> <p>PASSED: A passing condition.</p> </li> <li> <p>WARNED: A warning condition.</p> </li> <li> <p>FAILED: A failed condition.</p> </li> <li> <p>SKIPPED: A skipped condition.</p> </li> <li> <p>ERRORED: An error condition.</p> </li> <li> <p>STOPPED: A stopped condition.</p> </li> </ul>",
                                                    "enum": [
                                                        "PENDING",
                                                        "PASSED",
                                                        "WARNED",
                                                        "FAILED",
                                                        "SKIPPED",
                                                        "ERRORED",
                                                        "STOPPED"
                                                    ],
                                                    "type": "string"
                                                },
                                                "skipAppResign": {
                                                    "description": "<p>When set to <code>true</code>, for private devices, Device Farm will not sign your app again. For public devices, Device Farm always signs your apps again and this parameter has no effect.</p> <p>For more information about how Device Farm re-signs your app(s), see <a href=\"https://aws.amazon.com/device-farm/faq/\">Do you modify my app?</a> in the <i>AWS Device Farm FAQs</i>.</p>",
                                                    "type": "boolean"
                                                },
                                                "started": {
                                                    "description": "The date and time the remote access session was started.",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "description": "<p>The status of the remote access session. Can be any of the following:</p> <ul> <li> <p>PENDING: A pending status.</p> </li> <li> <p>PENDING_CONCURRENCY: A pending concurrency status.</p> </li> <li> <p>PENDING_DEVICE: A pending device status.</p> </li> <li> <p>PROCESSING: A processing status.</p> </li> <li> <p>SCHEDULING: A scheduling status.</p> </li> <li> <p>PREPARING: A preparing status.</p> </li> <li> <p>RUNNING: A running status.</p> </li> <li> <p>COMPLETED: A completed status.</p> </li> <li> <p>STOPPING: A stopping status.</p> </li> </ul>",
                                                    "enum": [
                                                        "PENDING",
                                                        "PENDING_CONCURRENCY",
                                                        "PENDING_DEVICE",
                                                        "PROCESSING",
                                                        "SCHEDULING",
                                                        "PREPARING",
                                                        "RUNNING",
                                                        "COMPLETED",
                                                        "STOPPING"
                                                    ],
                                                    "type": "string"
                                                },
                                                "stopped": {
                                                    "description": "The date and time the remote access session was stopped.",
                                                    "format": "date-time",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ArgumentException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "NotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "LimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ServiceAccountException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Creates and submits a request to start a remote access session.",
                                "example": {
                                    "configuration": {
                                        "billingMethod": "METERED"
                                    },
                                    "deviceArn": "arn:aws:devicefarm:us-west-2::device:123EXAMPLE",
                                    "name": "MySession",
                                    "projectArn": "arn:aws:devicefarm:us-west-2:123456789101:project:EXAMPLE-GUID-123-456"
                                },
                                "properties": {
                                    "clientId": {
                                        "description": "Unique identifier for the client. If you want access to multiple devices on the same client, you should pass the same <code>clientId</code> value in each call to <code>CreateRemoteAccessSession</code>. This is required only if <code>remoteDebugEnabled</code> is set to <code>true</code>.",
                                        "maxLength": 64,
                                        "minLength": 0,
                                        "type": "string"
                                    },
                                    "configuration": {
                                        "description": "The configuration information for the remote access session request.",
                                        "properties": {
                                            "billingMethod": {
                                                "description": "The billing method for the remote access session.",
                                                "enum": [
                                                    "METERED",
                                                    "UNMETERED"
                                                ],
                                                "type": "string"
                                            },
                                            "vpceConfigurationArns": {
                                                "description": "An array of Amazon Resource Names (ARNs) included in the VPC endpoint configuration.",
                                                "items": {
                                                    "minLength": 32,
                                                    "type": "string"
                                                },
                                                "type": "array"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "deviceArn": {
                                        "description": "The Amazon Resource Name (ARN) of the device for which you want to create a remote access session.",
                                        "minLength": 32,
                                        "type": "string"
                                    },
                                    "instanceArn": {
                                        "description": "The Amazon Resource Name (ARN) of the device instance for which you want to create a remote access session.",
                                        "minLength": 32,
                                        "type": "string"
                                    },
                                    "interactionMode": {
                                        "description": "<p>The interaction mode of the remote access session. Valid values are:</p> <ul> <li> <p>INTERACTIVE: You can interact with the iOS device by viewing, touching, and rotating the screen. You <b>cannot</b> run XCUITest framework-based tests in this mode.</p> </li> <li> <p>NO_VIDEO: You are connected to the device but cannot interact with it or view the screen. This mode has the fastest test execution speed. You <b>can</b> run XCUITest framework-based tests in this mode.</p> </li> <li> <p>VIDEO_ONLY: You can view the screen but cannot touch or rotate it. You <b>can</b> run XCUITest framework-based tests and watch the screen in this mode.</p> </li> </ul>",
                                        "enum": [
                                            "INTERACTIVE",
                                            "NO_VIDEO",
                                            "VIDEO_ONLY"
                                        ],
                                        "maxLength": 64,
                                        "minLength": 0,
                                        "type": "string"
                                    },
                                    "name": {
                                        "description": "The name of the remote access session that you wish to create.",
                                        "maxLength": 256,
                                        "minLength": 0,
                                        "type": "string"
                                    },
                                    "projectArn": {
                                        "description": "The Amazon Resource Name (ARN) of the project for which you want to create a remote access session.",
                                        "minLength": 32,
                                        "type": "string"
                                    },
                                    "remoteDebugEnabled": {
                                        "description": "Set to <code>true</code> if you want to access devices remotely for debugging in your remote access session.",
                                        "type": "boolean"
                                    },
[...]
